<div class="right-data">
    <div class="detail-user-profile">
        <div class="left-user-data">
           <div class="left-user-img">
            <figure>
                <img src="assets/images/profile.jpgdd" alt="">
            </figure>
        </div>
          </div>
          <div class="right-user-data">
              <h4>PROFILE</h4>
              <div class="right-inner-left-data">
                 <div class="inner-main">
                  <div class="left-inner-detail">
                      <label>USERNAME</label>
                  </div>
                  <div class="right-inner-detail">
                     <input type="text" placeholder="ADMIN">
                  </div>
              </div>  
              
               <div class="inner-main">
                  <div class="left-inner-detail">
                      <label>ADDRESS1</label>
                  </div>
                  <div class="right-inner-detail">
                     <input type="text">
                  </div>
              </div>  
              
                   <div class="inner-main">
                  <div class="left-inner-detail">
                      <label>USER TYPE</label>
                  </div>
                  <div class="right-inner-detail">
                     <input type="text">
                  </div>
              </div>  
              
               <div class="inner-main">
                  <div class="left-inner-detail">
                      <label>ADDRESS2</label>
                  </div>
                  <div class="right-inner-detail">
                     <input type="text">
                  </div>
              </div>  
              
               <div class="inner-main">
                  <div class="left-inner-detail">
                      <label>REG. DATE</label>
                  </div>
                  <div class="right-inner-detail">
                     <input type="date">
                  </div>
              </div>  
              
               <div class="inner-main">
                  <div class="left-inner-detail">
                      <label>CITY</label>
                  </div>
                  <div class="right-inner-detail">
                     <input type="text" placeholder="DELHI">
                  </div>
              </div>  
          
       
                 
                    <div class="inner-main">
                  <div class="left-inner-detail">
                      <label>EMAIL</label>
                  </div>
                  <div class="right-inner-detail">
                     <input type="email"> 
                  </div>
              </div> 
              
                <div class="inner-main">
                  <div class="left-inner-detail">
                      <label>STATE</label>
                  </div>
                  <div class="right-inner-detail">
                     <input type="text" placeholder="DELHI">
                  </div>
              </div>  
              
                <div class="inner-main">
                  <div class="left-inner-detail">
                      <label>MOBILE NUMBER</label>
                  </div>
                  <div class="right-inner-detail">
                     <input type="tel" placeholder="9999999999">
                  </div>
              </div>  
              
                <div class="inner-main">
                  <div class="left-inner-detail">
                      <label>COUNTRY</label>
                  </div>
                  <div class="right-inner-detail">
                     <input type="text" placeholder="INDIA">
                  </div>
              </div>  
              
                <div class="inner-main">
                  <div class="left-inner-detail">
                      <label>CONTACT NUMBER</label>
                  </div>
                  <div class="right-inner-detail">
                     <input type="tel">
                  </div>
              </div>  
              
                <div class="inner-main last-detail">
                  <div class="left-inner-detail">
                      <label>PIN CODE</label>
                  </div>
                  <div class="right-inner-detail">
                     <input type="text">
                  </div>
              </div> 
              
              </div>
              <button class="editProfileBtn" >Save</button>  
          </div>
                                                          
                 
      </div>
    </div>