<div class="right-data">
    <div class="detail-user-profile">
        <div class="left-user-data" style="width: 10%">
        </div>
        <div class="right-user-data">
            <h4>CREATE PROFILE</h4>
            <form #myform="ngForm" (ngSubmit)="register(myform)" id="" class="form form-register">
                <div class="right-inner-left-data">
                    <div class="inner-main">
                        <div class="left-inner-detail">
                            <label>First Name</label>
                        </div>
                        <div class="right-inner-detail">
                            <input type="text" ngModel name="firstName" required id="firstName">
                        </div>
                    </div>
                    <div class="inner-main">
                        <div class="left-inner-detail">
                            <label>Last Name</label>
                        </div>
                        <div class="right-inner-detail">
                            <input type="text" name="lastName" required class="mat-input" id="lastName" ngModel>
                        </div>
                    </div>
                    <div class="inner-main">
                        <div class="left-inner-detail">
                            <label>User Name</label>
                        </div>
                        <div class="right-inner-detail">
                            <input type="text" name="username" required class="mat-input" id="username" ngModel>
                        </div>
                    </div>
                   
                    <div class="inner-main">
                        <div class="left-inner-detail">
                            <label>Email</label>
                        </div>
                        <div class="right-inner-detail">
                            <input type="email" required name="emailId" class="mat-input" id="emailId" ngModel>
                        </div>
                    </div>

                    <div class="inner-main">
                        <div class="left-inner-detail">
                            <label>Password</label>
                        </div>
                        <div class="right-inner-detail">
                            <input type="password" ngModel required name="password1" class="mat-input" id="password1">
                        </div>
                    </div>
                    <div class="inner-main">
                        <div class="left-inner-detail">
                            <label>Repeat Password</label>
                        </div>
                        <div class="right-inner-detail">
                            <input type="password" ngModel required  name="password2" class="mat-input" id="password2">
                        </div>
                    </div>

                    <div class="inner-main">
                        <div class="left-inner-detail">
                            <label>State</label>
                        </div>
                        <div class="right-inner-detail">
                            <select style="width: 100%;height: 25px;border: 1px solid grey; outline: none; font-size: 1rem;border-radius:10px" class="mat-input"
                                name="slist" [(ngModel)]="state">
                                <option *ngFor="let state of stateList" value={{state.code}}>
                                    {{state.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <button type="submit" class="editProfileBtn">Save</button>
            </form>
        </div>


    </div>
</div>