<div class="right-data">
	<div class="table-responsive">
		<div class="row" *ngIf="productsloading">
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-3 hover">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
				</div>
				<img src="assets/images/dribbble.gif" style="text-align:center;width:50%;">
			</div>
		</div>
		<div id="closealert" class="alert alert-{{alertClass}} fade in alert-dismissible" style="margin-top:18px;" [hidden]="!successmsg">
			<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
			{{successmsg}}
		</div>
		<div class="row" [ngClass]="loaded?'show':'hide'">
			<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
				<thead>
					<tr>
						<th>PRODUCT CODE</th>
						<th>PRODUCT NAME</th>
						<th>TYPE</th>
						<th>LENGTH</th>
						<th>MRP</th>
						<th>DETAILED SPECIFICATIONS</th>
						<th>FAVOURITE</th>
						<th>QR CODE</th>
						<th>ADD TO CART</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let product of products">
						<td>
							<span>{{product.item_code}}</span>
						</td>
						<td>
							<span>{{product.name}}</span>
						</td>
						<td>
							<span>{{product.leaf_desc}}</span>
						</td>
						<td>
							<span>{{product.length}}</span>
						</td>
						<td>
							<span> {{product[userMrp]}}</span>
						</td>
						<td>
							<button class="modal-trigger view-btn" (click)="openN(content,product)">VIEW</button>
						</td>
						<td>
							<span style="font-size: 20px !important;">
								<i class="fas fa-heart item-heart item-heart" style="color:red;" (click)="addToFav(product,'product')"></i>
							</span>
						</td>
						<td>
							<div class="box">
								<img src="assets/images/qr.png" class="my__img">
							</div>
							<div id="my__modal" class="my__modal">
								<span class="close-qr" id="close">&times;</span>
								<div class="modal__block" id="modal__block">
									<img id="img01" class="modal__content" alt="">
									<div id="caption"></div>
								</div>
							</div>
						</td>
						<td>
							<span>
								<input name="Add To Cart" type="button" value="ADD TO CART" class="section-btn" (click)="addToCart(product,'product')" />
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>