<div class="modal-sandbox"></div>
<div class="modal-box">
    <div class="modal-header" *ngIf="item.item_code">
        <div class="close-modal">
            <span CLASS="model-head-detail">DETAILS OF PRODUCT CODE : {{item.item_code}}</span>
            <span style="color:red; font-size:1.4rem;" (click)="activeModal.dismiss('Cross click')">&#10006;</span>
        </div>
    </div>
    <div class="modal-body" style="min-height: 750px !important;max-height: 950px !important;" *ngIf="item">
        <div class="{{(item.image)?'col-xs-6':'col-xs-12'}} ">
            <div class="part-name-modal">
                <div class="part-model-left">
                    CATEGORY
                </div>
                <span class="colon-modal">:</span>
                <div class="part-model-right">
                   {{item.category.name}} 
                </div>
            </div>
            <div class="part-name-modal">
                <div class="part-model-left">
                    SUB CATEGORY
                </div>
                <span class="colon-modal">:</span>
                <div class="part-model-right">
                   {{item.subcategory.name}} 
                </div>
            </div>
            <div class="part-name-modal">
                <div class="part-model-left">
                   SEGMENT
                </div>
                <span class="colon-modal">:</span>
                <div class="part-model-right">
                   {{item.segment.name}} 
                </div>
            </div>
            <div class="part-name-modal">
                <div class="part-model-left">
                   SUB SEGMENT
                </div>
                <span class="colon-modal">:</span>
                <div class="part-model-right">
                   {{item.subsegment.name}} 
                </div>
            </div>
            <div class="part-name-modal">
                <div class="part-model-left">
                    ITEM CODE
                </div>
                <span class="colon-modal">:</span>
                <div class="part-model-right">
                     {{item.item_code}} 
                </div>
            </div>
            <div class="part-name-modal">
                <div class="part-model-left">
                    ITEM NAME
                </div>
                <span class="colon-modal">:</span>
                <div class="part-model-right">
                    {{item.name}} 
                </div>
            </div>
            <div class="part-name-modal" *ngIf="item.particuler">
                <div class="part-model-left">
                    PARTICULAR
                </div>
                <span class="colon-modal">:</span>
                <div class="part-model-right">
                    {{item.particuler}}
                </div>
            </div>
            <div class="part-name-modal" *ngIf="item.length">
                <div class="part-model-left">
                    LENGTH(INCH)
                </div>
                <span class="colon-modal">:</span>
                <div class="part-model-right">
                    {{item.length}}
                </div>

            </div>
            <div class="part-name-modal" *ngIf="item.variant">
                <div class="part-model-left">
                    VARIENT
                </div>
                <span class="colon-modal">:</span>
                <div class="part-model-right">
                    {{item.variant}}
                </div>
            </div>

            <div class="part-name-modal" *ngIf="item.leaf_desc">
                <div class="part-model-left">
                    TYPE
                </div>
                <span class="colon-modal">:</span>
                <div class="part-model-right">
                    {{item.leaf_desc}}
                </div>
            </div>
            <div class="part-name-modal" *ngIf="item.drawing_refno">
                <div class="part-model-left">
                    DRAWING REF. NO
                </div>
                <span class="colon-modal">:</span>
                <div class="part-model-right">
                    {{item.drawing_refno}}
                </div>
            </div>
            <div class="part-name-modal" *ngIf="item.ch_detail">
                <div class="part-model-left">
                    C.H.&#8709;[mm] & POSITION
                </div>
                <span class="colon-modal">:</span>
                <div class="part-model-right">
                    {{item.ch_detail}}
                </div>

            </div>
            <div class="part-name-modal" *ngIf="item.sh_detail">
                <div class="part-model-left">
                    S.H.DETAIL[mm]
                </div>
                <span class="colon-modal">:</span>
                <div class="part-model-right">
                    {{item.sh_detail}}
                </div>

            </div>
            <div class="part-name-modal" *ngIf="item.varientcode">
                <div class="part-model-left">
                    Varient Code
                </div>
                <span class="colon-modal">:</span>
                <div class="part-model-right">
                    {{item.varientcode}}
                </div>
            </div>
            <div class="part-name-modal" *ngIf="item.suitableFor">
                <div class="part-model-left">
                    SUITABLE FOR
                </div>
                <span class="colon-modal">:</span>
                <div class="part-model-right">
                    {{item.suitableFor}}
                </div>
            </div>
            <div class="part-name-modal" *ngIf="item.weight">
                <div class="part-model-left">
                    WEIGHT(KG)
                </div>
                <span class="colon-modal">:</span>
                <div class="part-model-right">
                    {{item.weight}}
                </div>
            </div>
            <div class="part-name-modal">
                <div class="part-model-left">
                    MRP(Rs)
                
                </div>
                <span class="colon-modal">:</span>
                <div class="part-model-right">
                {{ (!userName)?item.mrp1:item.mrp1 }}
                </div>
            </div>
        </div>
        
       
        <div class="part-name-modal">
            <div class="part-model-left">
                <img style="height: 160px"  [src]="item.qrcode">  
            </div>
            <span class="colon-modal">:</span>
            <div  *ngIf="item.category" class="part-model-right">
                <img id="myImgN" style="height: 160px" src="/assets/images/ecat/category/{{item.category.code}}.png" class="open-img">
            </div>
        </div>
       
    </div>
</div>