<div class="form-box">
    <div class="search-head">SEARCH BY</div>
    <div class="category">
      <div class="category-name">Category</div>
      <div class="category-box">
        <select name="Category" class="select-form">
          <option value="All" selected="">ALL</option>
          <option value="AIR SUSPENSION">AIR SUSPENSION</option>
          <option value="BOGGIE SUSPENSION">BOGGIE SUSPENSION</option>
          <option value="LIFT AXLE">LIFT AXLE</option>
          <option value="MULTI LEAF SPRING">MULTI LEAF SPRING</option>
          <option value="PARABOLIC_SUSPENSION">PARABOLIC_SUSPENSION</option>
        </select>
      </div>
    </div>
    <div class="category">
      <div class="category-name">SEGMENT</div>
      <div class="category-box">
        <select name="Category" class="select-form">
          <option value="All">ALL</option>
          <option value="SEG-1 LIGHT PARABOLIC">SEG-1 LIGHT PARABOLIC</option>
        </select>
      </div>
    </div>
    <div class="category">
      <div class="category-name">BRAND</div>
      <div class="category-box">
        <select name="Category" class="select-form">
          <option value="All">ALL</option>
          <option value="NISSAN ALT">TATA</option>
        </select>
      </div>
    </div>
    <div class="category">
      <div class="category-name">Model</div>
      <div class="category-box">
        <select name="Category" class="select-form">
          <option value="All">ALL</option>
          <option value="DOST">SUMO</option>
        </select>
      </div>
    </div>
    <div class="category">
      <div class="category-name">PART NO.</div>
      <div class="category-box">
        <input name="part-desc" type="text">
      </div>
    </div>
    <div class="category">
      <div class="category-name">PART DESC</div>
      <div class="category-box">
        <input name="part-desc" type="text">
      </div>
    </div>
    <div class="category btn-box">
        <a href="product-brand-model-1.html"><input type="button" id=" " value="SEARCH" class="search btn-primary"></a>
      <input type="button" id=" " value="RESET" class="search btn-primary" onclick="resetSearch();" style="background:#46505c;">
    </div>
  </div>