<div class="right-data">
  <div class="table-responsive">
    <div class="row" *ngIf="productsloading">
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-3 hover">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
        </div>
        <img src="assets/images/dribbble.gif" style="text-align:center;width:50%;">
      </div>
    </div>
    <div class="row" [ngClass]="loaded?'show':'hide'">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
          <tr>
            <th width="20">ORDER NO</th>
            <th  width="20">DATE</th>
            <th  width="20">ACTION</th>
            <th  width="20">AMOUNT</th>
            <th  width="20">Download Order Details(csv)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let  orderOne of orderList ">
            <td  width="20">{{ orderOne.orderId }}</td>
            <td  width="20">{{ orderOne.addedon }}</td>
            
            <td  width="20">
              <button class="modal-trigger view-btn" (click)="openN(content,orderOne)">VIEW</button>
            </td>
            <td  width="20">{{ orderOne.total.toFixed(2) }}</td>
            <td  width="20">
              <a class="modal-trigger view-btn" target="_blank" [attr.href]="orderOne.csv_url" >DOWNLOAD</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>