<div class="modal-sandbox"></div>
<div class="modal-box">
	<div class="modal-header">
		<div class="close-modal">
			<span style="color:red; font-size:1.4rem;" (click)="activeModal.dismiss('Cross click')">&#10006;</span>
		</div>
	</div>
	<div class="modal-body-order">
		<div class="col-xs-12">
			<img height="100" style="text-align: center" src="assets/images/logo.png">
		</div>
		<div class="col-xs-12" style="padding-top: 10px;font-size: 30px;text-align: center">
			<span style="font-weight: bolder;font-weight: bolder;
						font-size: 24px;
						line-height: 81px;
						float: revert;" CLASS="model-head-detail">E-CAT CONNECT - SALE ORDER</span>

		</div>
		<div class="col-xs-12" style="border-top: .1px solid grey;padding-top: 10px">
			<div *ngFor="let  orderOne of Order.order_details">
				<table class="table" border="1">

					<thead style="background:#0B9FDB" class="table-primary">
						<tr class="table-primary">
							<th width="50%" colspan="2">SALSE ORDER NUMBER</th>
							<th width="25%">Company Code</th>
							<th width="25%">SALSE ORDER DATE</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td align="left" width="50%" colspan="2">{{orderOne.orders && orderOne.orders[0] && orderOne.orders[0]['order_number']}}</td>
							<td align="left" width="25%">{{Order.user.profile && Order.user.profile.company_code }}</td>
							<td align="left" width="25%">{{Order.addedon}}</td>

						</tr>
					</tbody>
					<thead style="background:#0B9FDB" class="table-primary">
						<tr class="table-primary">
							<th>CUSTOMER NAME </th>
							<th>CUSTOMER TYPE </th>
							<th>MOBILE</th>
							<th>ADDRESS</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{Order.user.first_name }} {{Order.user.last_name }}</td>
							<td>{{userType[Order.user.profile.role] }}</td>
							<td>{{Order.user.profile && Order.user.profile.contact_number }}</td>
							<td>{{Order.user.profile && Order.user.profile.address1 }}
							<br/>{{Order.user.profile && Order.user.profile.address2 }}<br/>
								{{Order.user.profile && Order.user.profile.city }}<br/>
								{{Order.user.profile && Order.user.profile.state.name }}<br/>
								{{Order.user.profile && Order.user.profile.pincode }}<br/>
								{{Order.user.profile && Order.user.profile.country }}
							</td>
						</tr>
					</tbody>
				</table>
				<table class="table" border="1">
					<thead class="table-primary" style="background:#0B9FDB;line-height: 50px">
						<th style="text-align: center" colspan="10" class="table-primary">
							{{ orderOne.name }}
						</th>
					</thead>
					<thead style="background:#ccc" class="table-primary">
						<tr class="table-primary">
							<th>ID</th>
							<th>CODE</th>
							<th>VARIENT</th>
							<th>SEGMENT</th>
							<th>SUB SEGMENT</th>
							<th>DESC</th>
							<th>PRICE</th>
							<th>QUANTITY</th>
							<th>ORDER VALUE</th>
						</tr>
					</thead>
					<tbody *ngFor="let order of orderOne.orders">
						<tr>
							<td>{{order && order.product.id}}</td>
							<td>{{order && order.product.item_code}}</td>
							<td>{{order && order.product.variant}}</td>
							<td>{{order && order.product.segment.name}}</td>
							<td>{{order && order.product.subsegment.name}}</td>
							<td>{{order && order.product.item_description}}</td>
							<td>{{(order && order.product[Order.user && Order.user.profile && Order.user.profile.state && Order.user.profile.state.dbp?Order.user.profile.state.dbp:'mrp1']*1).toFixed(2)}}</td>
							<td>{{order && order.quantity}}</td>
							
							<td>{{(order && order.product[Order.user && Order.user.profile && Order.user.profile.state && Order.user.profile.state.dbp?Order.user.profile.state.dbp:'mrp1'] * order.quantity).toFixed(2)}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<table class="table" border="1">
				<thead style="background:#0B9FDB" class="table-primary">
					<tr class="table-primary">
						<th colspan="2"></th>
						<th colspan="2"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="2">
							<strong>Total Quantity</strong>
						</td>
						<td colspan="2" >
							<strong>{{Order.total_quantity}}</strong>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<strong>GRAND Total</strong>
						</td>
						
						<td colspan="2">
							<strong>{{Order.total.toFixed(2)}}</strong>
						</td>
						
					</tr>
				</tbody>
			</table>
            <p style="color:red;text-align: left;
			text-transform: none;">Note:- Discount applicable as per company Policy, Taxes as applicable</p>
		</div>
	</div>
</div>